//colors
black = #000000
dark = #333333
cream = #FBFFE3
white = #FFFFFF
pink = #E21B5A
greyGreen = #374F56
forest = #697060
red = #C44D58
blue = #5c858e
darkBlue = #374F56
lightBlue = #A3EDFF

//fonts
fontsHead = 'trajan-pro-3'
fontsMain = 'proxima-nova'
fontsEtica = 'lft-etica-condensed'
